img{
    border: 2px solid black;
    border-radius: 50%;
}
h2{
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: 900;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-decoration: underline;
}