img{
    border: 2px solid rgb(24, 156, 21);
    border-radius: 50%;
    align-items: center;
    display: block;
    margin-left: auto;  
    margin-right: auto;
}
h2{
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: 900;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-decoration: underline;
}